<!DOCTYPE HTML>
<html lang="en">

<!-- Mirrored from www.lab.westilian.com/falgun-admin/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 21 Jul 2020 12:25:45 GMT -->
<head>
    <meta charset="utf-8">
    <title>Connectez-vous à votre compte</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Admin Panel Template">
    <meta name="author" content="Westilian: Kamrujaman Shohel">
    <!-- styles -->
    <link href="{{ asset('bundles/incore/css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/incore/css//bootstrap-responsive.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('bundles/incore/css/font-awesome.css') }}">
    <!--[if IE 7]>
    <link rel="stylesheet" href="{{ asset('bundles/incore/css/font-awesome-ie7.min.css') }}">
    <![endif]-->
    <link href="{{ asset('bundles/incore/css/styles.css') }}" rel="stylesheet">
    <!--[if IE 7]>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/incore/css/ie/ie7.css') }}" />
    <![endif]-->
    <!--[if IE 8]>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/incore/css/ie/ie8.css') }}" />
    <![endif]-->
    <!--[if IE 9]>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/incore/css/ie/ie9.css') }}" />
    <![endif]-->
    <link href="{{ asset('bundles/incore/css/aristo-ui.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/incore/css/elfinder.css') }}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
    <!--fav and touch icons -->
    <link rel="shortcut icon" href="ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">

</head>
<body>
<div class="layout">
    <!-- Navbar================================================== -->
    <div class="navbar navbar-inverse top-nav">
        <div class="navbar-inner">
            <div class="container">
               <a class="brand" href="{{ path('in_admin_homepage') }}"><img src="{{ asset('bundles/incore/images/logo.png') }}" width="50" height="50" alt="Novanet"></a>
                <div class="btn-toolbar pull-right notification-nav">
                    <div class="btn-group">
                        <div class="dropdown">
                            <a class="btn btn-notification"><i class="icon-reply"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <form method="post" action="{{ path('fos_user_security_check') }}" class="form-signin">
            <h3 class="form-signin-heading">Connectez-vous !</h3>
            {% if error %}
                <div class="alert alert-info">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <div class="controls input-icon">
                <i class=" icon-user-md"></i>
                <input name="_username" type="text" class="input-block-level" placeholder="Nom d'utilisateur ou Adresse Email">
            </div>
            <div class="controls input-icon">
                <i class=" icon-key"></i><input name="_password" type="password" class="input-block-level" placeholder="Mot de passe">
            </div>
            <label class="checkbox">
                <input name="_remember_me" type="checkbox"> Restez connecter </label>
            <button class="btn btn-inverse btn-block" type="submit">Se connecter</button>
            <h4>Mot de passe oublié ?</h4>
            <p>
                <a href="#">Cliquez ici</a> to re-initialiser le mot de passe.
            </p>

        </form>
    </div>
</div>

<!--============j avascript===========-->
<script src="{{ asset('bundles/incore/js/jquery.js') }}"></script>
<script src="{{ asset('bundles/incore/js/jquery-ui-1.10.1.custom.min.js') }}"></script>
<script src="{{ asset('bundles/incore/js/bootstrap.js') }}"></script>
</body>

<!-- Mirrored from www.lab.westilian.com/falgun-admin/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 21 Jul 2020 12:25:45 GMT -->
</html>